.heading {
    position: relative;
    grid-row: head-start / head-end;
    grid-column: 1 / -1;;

    &__burger {
        background-image: url("../img/burger-beer.jpg");
        background-size: cover;
        clip-path: polygon(0 0, 0% 98%, 98% 0);
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__beer {
        background-image: url("../img/beer-1.jpg");
        background-size: cover;
        clip-path: polygon(100% 2%, 2% 100%, 100% 100%);
        width: 100%;
        height: 100%;
    }

    &__name {
        color: $color-grey-light-1;
        font-size: 6rem;
    }
}
